<html>
	<body>
		<div class="about-img-bg">
            <div class="col-md-4">
                <div class="about-img">
                    <img src="assets/images/about1.jpg" alt=""/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-img">
                    <img src="assets/images/about2.jpg" alt=""/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-img">
                    <img src="assets/images/about3.jpg" alt=""/>
                </div>
            </div>
        </div>
	</body>
</html>